---
title: AUREL & SIXTINE
---

<div class="banner" style="background-image: url(<%= image_path 'photo-site.jpeg'%>);">
  <div id="home">
    <div class="home-content">
      <h1>
        SIXTINE & AUREL <br>
        <hr color="white">
        XX / XX / 2019 <br>
        <hr color="white">
      </h1>
      <!-- <div class="catch-content">
        <%= link_to "Découvrez nos services", "service.html", class: "home-btn btn btn-primary" %>
        <%= link_to "Contactez-nous", "contact.html", class: "home-btn btn btn-primary" %>
      </div> -->
    </div>
  </div>
</div>
